  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size-sm="0" size-lg="2"></ion-col>
      <ion-col size-sm="12" size-lg="8" style="height: 100%;">
        <div class="container">
          <div class="scrollable-messages-div">
            <ion-list>
              <ion-item *ngFor="let message_item of messages">
                <h2>{{message_item.sender}}</h2>
                <p>{{message_item.txtContent}}</p>
              </ion-item>
            </ion-list>
          </div>
          <div class="typing-div">
            <ion-content>
              <ion-item>
                <ion-textarea [(ngModel)]="message.txtContent" rows="3"></ion-textarea>
              </ion-item>
              <ion-row>
                <ion-col>
                  <ion-button expand="full" (click)="handleSendMessage()">Send</ion-button>
                </ion-col>
              </ion-row>
            </ion-content>
            
          </div>
        </div>
      </ion-col>
      <ion-col size-sm="0" size-lg="2"></ion-col>
    </ion-row>
  </ion-grid>
