<ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
        <ion-col size-sm="0" size-lg="2"></ion-col>
        <ion-col size-sm="12" size-lg="8" style="height: 100%;">
            
            <div class="contacts-container">
                <ion-card class="centered-div">
                    <h1>GeeksChat</h1>
                    <ion-list>
                        <li *ngFor="let contact of contacts" >
                            <ion-card>
                                <ion-item (click)="gotoContact(contact.id)">
                                    <ion-avatar aria-hidden="true" slot="start">
                                        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                                    </ion-avatar>
                                    <ion-label>{{contact.firstName}}  {{contact.lastName}}</ion-label>
                                </ion-item>
                            </ion-card>
                        </li>
                    </ion-list>     
                </ion-card>
            </div>
        </ion-col>
        <ion-col size-sm="0" size-lg="2"></ion-col>
    </ion-row>
</ion-grid>


